.container{
    width: 440px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

button{
    height: 100px;
    margin: 5px;
    border-radius: 50px;
    border: none;
}

.output{
    font-size: 100px;
    height: 100px;
    padding: 5px;
    text-align: end;
    grid-column-start: span 4;
    background-color: dimgray;
}

.divide{
    grid-column-start: 4;
}

.zero {
    grid-column-start: span 2;
}